{% if form.errors %}
    {% for field in form %}
        {% for error in field.error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                 {{error|escape}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                 {{error|escape}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
    {% endfor %}
{% endif %}

