<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<input type="hidden" name="form-TOTAL_FORMS" value="3" id="id_form-TOTAL_FORMS">
<input type="hidden" name="form-INITIAL_FORMS" value="2" id="id_form-INITIAL_FORMS">
<input type="hidden" name="form-MIN_NUM_FORMS" value="0" id="id_form-MIN_NUM_FORMS">
<input type="hidden" name="form-MAX_NUM_FORMS" value="1000" id="id_form-MAX_NUM_FORMS">
<tr>
    <td colspan="2">
        <ul class="errorlist nonfield">
            <li>(Hidden field id) Select a valid choice. That choice is not one of the available choices.</li>
        </ul>
    </td>
</tr>
<tr>
    <th><label for="id_form-0-job_qualifications">Job qualifications:</label></th>
    <td><input type="text" name="form-0-job_qualifications" value="qwe" class="form-control"
               placeholder="Enter Job Qualifications" id="id_form-0-job_qualifications"></td>
</tr>
<tr>
    <th><label for="id_form-0-DELETE">Delete:</label></th>
    <td><input type="checkbox" name="form-0-DELETE" id="id_form-0-DELETE"><input type="hidden" name="form-0-id"
                                                                                 value="7" id="id_form-0-id"></td>
</tr>
<tr>
    <td colsp
        an="2">
        <ul class="errorlist nonfield">
            <li>(Hidden field id) Select a valid choice. That choice is not one of the available choices.</li>
        </ul>
    </td>
</tr>
<tr>
    <th><label for="id_form-1-job_qualifications">Job qualifications:</label></th>
    <td><input type="text" name="form-1-job_qualifications" value="qwe" class="form-control"
               placeholder="Enter Job Qualifications" id="id_f
orm-1-job_qualifications"></td>
</tr>
<tr>
    <th><label for="id_form-1-DELETE">Delete:</label></th>
    <td><input type="checkbox" name="form-1-DELETE" id="id_form-1-DELETE"><input type="hidden" name="form-1-id"
                                                                                 value="8" id="id_form-1-id"></td>
</tr>
<tr>
    <th>
        <labe
                l for="id_form-2-job_qualifications">Job qualifications:</label>
    </th>
    <td><input type="text" name="form-2-job_qualifications" class="form-control" placeholder="Enter Job Qualifications"
               id="id_form-2-job_qualifications"
    ></td>
</tr>
<tr>
    <th><label for="id_form-2-DELETE">Delete:</label></th>
    <td><input type="checkbox" name="form-2-DELETE" id="id_form-2-DELETE"><input type="hidden" name="form-2-id"
                                                                                 id="id_form-2-id"></td>
</tr>


</body>
</html>