<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>

    <!-- ================================= -->

    <div id="empty-form-applicant-siblings-set">
        <!-- Hidden -->
        <label for="id_siblings_applicant_fk-__prefix__-name">Name:</label>
        <input type="text" name="siblings_applicant_fk-__prefix__-name" class="form-control" placeholder="Name of Siblings" autofocus="autofocus" maxlength="50" id="id_siblings_applicant_fk-__prefix__-name">

        <label for="id_siblings_applicant_fk-__prefix__-age">Age:</label>
        <input type="number" name="siblings_applicant_fk-__prefix__-age" class="form-control" placeholder="Age" autofocus="autofocus" onkeypress="if(this.value.length==2) return false;" onkeydown="javascript: return event.keyCode == 69 ? false : true" id="id_siblings_applicant_fk-__prefix__-age">

        <label for="id_siblings_applicant_fk-__prefix__-occ">Occupation/Company:</label>
        <input type="text" name="siblings_applicant_fk-__prefix__-occ" class="form-control" placeholder="Occupation/Company" autofocus="autofocus" maxlength="50" id="id_siblings_applicant_fk-__prefix__-occ">

        <input type="hidden" name="siblings_applicant_fk-__prefix__-id" id="id_siblings_applicant_fk-__prefix__-id">
        <input type="hidden" name="siblings_applicant_fk-__prefix__-applicant_siblings"  id="id_siblings_applicant_fk-__prefix__-applicant_siblings">
    </div>

    <!-- ================================= -->

</body>

</html>