{% load crispy_forms_tags %}
<form class="delete-client-form" method="POST" enctype="multipart/form-data" data-url="{% url 'pri:delete_clients' client.id %}">
    {% csrf_token %}

    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Deleting Client ID:<strong> ({{ client.id }})</strong></h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-body">

       <p class="lead">Are you sure you want to delete:  <strong>( Name: {{client.client_user.last_name}}, {{client.client_user.first_name}} {{client.client_user.middle_name}} ). </strong>?</p>


    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger">Delete</button>
    </div>

</form>