{% load staticfiles %}
{% for applicant in applicants %}
<tr>
    <td>{{ applicant.applicant_id }}</td>
    <td align="center">
        <img class="img-profile rounded-circle" src="
        {% if applicant.hired_applicant.image %}
        {{ applicant.hired_applicant.image.url }}
        {% else %}
        {% static 'images\Administrator Male_48px.png' %}
        {% endif %}" width="50" height="50">
    </td>    
    <td>{{ applicant.hired_applicant.position_desired }}</td>
    <td>{{applicant.hired_applicant.lname}}, {{ applicant.hired_applicant.fname}} {{ applicant.hired_applicant.lname }}</td>
    <td>
        {% if applicant.hired_applicant.cv %}
        <!-- https://fontawesome.com/how-to-use/on-the-web/styling/sizing-icons -->
        <a href="{{applicant.hired_applicant.cv.url}}" download>
            <span title="Download Curriculum Vitae" class="fas fa-file-download fa-2x"></span>
        </a>
        {% endif %}
    </td>
    <td>{{ applicant.hired_applicant.mobile_no }}</td>
    <td>{{ applicant.hired_applicant.user.email }}</td> 
    <td> 
        <select class="form-control hired-applicant-status" id="" style="width: 150px;" data-url="{% url 'pri:client_hired_applicant_set_status' applicant.id %}">    
            <option value="Available" {% if applicant.status == 'Available' %} selected {%endif %}>Available</option>
            <option value="Terminated" {% if applicant.status == 'Terminated' %} selected {%endif %}>Terminated</option>
            <option value="6 Months Contract" {% if applicant.status == '6 Months Contract' %} selected {%endif %}>6 Months Cont.</option> 
        </select>    
    </td> 
    <td>
        <button type="button" data-url="{% url 'pri:delete_client_applicants' client.id applicant.id %}"
            class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm show-fire-client-applicant"
            data-toggle="tooltip" data-placement="top" title="Fire Applicant">
            <span class="fas fa-trash-alt"></span>
        </button>
    </td>
</tr>
{% endfor %}