{% extends 'pri_admin/pri_admin_index.html' %}

{% block inner_body %}
<!-- Breadcrumbs-->

<style>
 td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
</style>

<ol class="breadcrumb">
    <li class="breadcrumb-item active">Request Page</li>
</ol>


<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Request Table
    </div>
    <div class="card-body">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <!-- Navbar Search -->

           <form method="POST" id="form-search-requests"> <!--class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" -->
                <div class="input-group">
                    <input id="search-requests" type="text" class="form-control" placeholder="Search for..." aria-label="Search"
                           aria-describedby="basic-addon2" required>
                    <div class="input-group-append">
                        <button class="btn btn-success btn-search-requests" type="button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>

            <form style="width: 50%">
                 <div class="input-group">
                       <select class="form-control" id="record-limit-requests" style="width: 10%">
                            <option disabled selected hidden>Show Limit</option>
                            <option>10</option>
                            <option>15</option>
                            <option>25</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                     <select class="form-control" id="column-requests" style="width: 20%">
                            <option disabled selected hidden>Sort by</option>
                         {% for col in columns %}
                         <option>{{ col|title }}</option>
                         {% endfor %}
                        </select>
                    <select class="form-control" id="sort-order-requests" style="width: 10%">
                            <option>Descending</option>
                            <option>Ascending</option>
                    </select>

                    <div class="input-group-append">
                        <button class="btn btn-success" type="button" id="button-sort-requests">
                            <i class="fas fa-sort"></i>
                        </button>
                    </div>


                </div>
            </form>
            

            {% if policy.pri_can_add_request %}

            <button type="button" data-url="{% url 'pri:create_requests' %}" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm show-form-create-requests">
                <span class="fas fa-plus fa-sm text-white-50"></span>
                Create new client request
            </button>

            {% endif %}

        </div>

        <div class="table-responsive" id="table-requests">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="font-family: candara; font-size: 15px;">
                <thead>
                <tr>
                    <th style="width: 5%" class="text-center">ID</th>
                    <th style="width: 15%" class="text-center">Client</th>
                    <th style="width: 30%" class="text-center">Content</th>
                    <th style="width: 10%" class="text-center">Status</th>
                    <th style="width: 18%" class="text-center">Date Requested</th>
                    <th style="width: 12%" class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% include 'pri_admin/tables/pri_admin_requests_table.html' %}
                </tbody>
            </table>
        </div>

        <div id="pagination-requests" class="text-center">
            {% include 'pri_admin/paginators/pri_admin_users_pagination.html' %}
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

<p class="small text-center text-muted my-5">
    <em>To God be the Glory</em>
</p>

{% endblock inner_body %}
