{% extends 'registration/registration_base.html' %}
{% load crispy_forms_tags %}
{% block body_block %}
<div class="container">
    <div class="card card-login mx-auto mt-5 registration-form-background">
         <div class="card-header text-white">Reset Password</div>
        <div class="card-body">
            <div class="text-center mb-4 text-white">
                <h4>Forgot your password?</h4>
                <p>Enter your email address and we will send you instructions on how to reset your password.</p>
            </div>
            <form method="POST">
                <div class="form-group text-white">
                     {% csrf_token %}
                        {{ form|crispy }}
                    <!--<div class="form-label-group"> -->
                        <!--<input type="email" id="inputEmail" class="form-control" placeholder="Enter email address" required="required" autofocus="autofocus">-->
                        <!--<label for="inputEmail">Enter email address</label>-->
                    <!--</div>-->
                </div>
                <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
            </form>
            <div class="text-center text-white">
                <a class="d-block small mt-3" href="{% url 'user_login' %}">Return to Login Page</a>
            </div>
        </div>
    </div>
</div>
{% endblock body_block %}