{% extends 'registration/registration_base.html' %}
{% load crispy_forms_tags %}
{% block body_block %}
<div class="container">
    <div class="card card-login mx-auto mt-5 registration-form-background">
        <div class="card-header text-white">Change Password</div>
        <div class="card-body">
            <div class="text-center mb-4 text-white">
                <h4>Update your password!</h4>
                <p>Update your password and stay secure!</p>
            </div>
            <form method="POST">
                <div class="form-group text-white">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <!--<div class="form-label-group"> -->
                    <!--<input type="email" id="inputEmail" class="form-control" placeholder="Enter email address" required="required" autofocus="autofocus">-->
                    <!--<label for="inputEmail">Enter email address</label>-->
                    <!--</div>-->
                </div>
                <button type="submit" class="btn btn-primary btn-block">Update Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock body_block %}