{% extends 'registration/registration_base.html' %}
{% block body_block %}
<div class="container">
    <div class="card card-login mx-auto mt-5 registration-form-background">
        <div class="card-header text-white">Reset Password</div>
        <div class="card-body">
            <div class="text-center mb-4 text-white">
                <h4>Password successfully reset!</h4>
                <p>You have successfully reset your password. You may try to log-in again.</p>
            </div>

            <div class="text-center">
                <a class="d-block small mt-3" href="{% url 'user_login' %}">Return to Login Page</a>
            </div>
        </div>
    </div>
</div>
{% endblock body_block %}